<#import "../layout/defaultLayout.ftl.html" as layout> 

<@layout.myLayout "Home page">

<div class="container">

<#if (session.username)??>

<form role="form" action="addMessage" method="post">
  <legend>Nouveau message</legend>
  <div class="form-group">
    <label for="exampleInputEmail1">Message</label>
    <textarea class="form-control" rows="3" cols="40" name="message"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Envoyer</button>
</form>

</#if>

<h2>Liste des messages : </h2>

<ul class="messages">

<#list allMessage as message>

<li><img width="20px" height="20px" src="http://www.gravatar.com/avatar/sdsdsdsdsdsd/" /> <b>${message.userEmail}</b> <BR />
<i>${message.content}</i>
</li>
</#list>

</ul>

<button class="btn btn-primary" type="button" onclick="refresh()">Refresh</button>

</div>

</@layout.myLayout>